<h1 class="article-title"> <%= t('news') %> </h1>
<div>
  <% @articles.each do |article| %>
    <div class="article-item">
      <div class="article-topic">
        <%= article.topic %>
      </div>
      <div class="article-summary">
        <%= article.summary %>
      </div>
      <div class="article-link">
        <%= link_to  t('details'), article, class: 'btn btn-info right' %>
      </div>
    </div>
  <% end %>
</div>
