<h1>Subjects</h1>

<table>
  <tbody>
    <% @subjects.in_groups_of(4).each do |group| %>
      <tr>
        <% group.each do |subject| %>
        <td>
          <% if subject %>
          <%= image_tag subject.image %> <br>
          <%= subject.name %>
          <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
