<% @title = t('activerecord.models.course.other') %>
<h1><%= @title %></h1>
<section class="course-section">
    <% @courses.in_groups_of(4).each do |group| %>
      <div class="row">
        <% group.each do |course| %>
          <% if course %>
            <a href=<%= course_path course %> >
              <div class="course-item col-md-3">
                <%= render "#{current_user.role}", :course => course %>
              </div>
            </a>
          <% end %>
        <% end %>
      </div>
    <% end %>
</section>
