<% @title = t('activerecord.models.course.other') %>
<h1><%= @title %></h1>
<table class="course-table">
  <tbody>
    <% @courses.in_groups_of(4).each do |group| %>
      <tr class="row">
        <% group.each do |course| %>
          <td class="course-item col-md-3">
            <% if course %>
              <%= render "#{current_user.role}", :course => course %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
